@media only screen and (max-width : 767px) {
    .header-area .header-top .header-top-title {
        text-align: center;
    }
    .header-area .header-top .header-top-title h1 {
        font-size: 12px;
    }
    .header-area .header-top .header-top-social ul {
        text-align: center;
    }
    .header-area .header-top .header-top-social ul li:first-child {
        border-left:none;
        padding-left: 0px;
    }
    .header-area .header-middle .headere-middle-logo {
        text-align: -webkit-center;
        padding: 10px 0px 0px 0px;
    }
    .header-middle-contact.hmc-mobil2 {
        text-align: -webkit-center;
    }
    .header-middle-contact.hmc-mobil2 a {
        margin-right: 44px;
    }
    .header-middle-contact.hmc-mobil3 {
        text-align: -webkit-right;
    }
    .header-middle-contact.hmc-mobil3 a {
        margin-right: 44px;
    }
    .header-area .header-middle .header-middle-contact {
        float: none;
        padding-left:0;
        padding-top: 3px;
        padding-bottom: 0px;
    }
    .header-area .header-middle .header-middle-contact a {
        font-size: 13px;
    }
    .header-area .header-middle .header-middle-contact a i {
        font-size: 14px;
        padding-right: 7px;
    }
    .container.heder-m {
        position: relative;
        height: 104%;
    }
    .header-menu {
        background-color: #007bff;
        z-index: 31;
        position: relative;
        margin-bottom: -220px;
        top: -239px;
    }
    .home-slider .single-home-slider {
        margin-top: 50px;
    }
    .header-menu .navbar .navbar-nav {
        text-align: center;
        margin-top: 93px;
    }
    .header-menu .navbar .navbar-nav .nav-item {
        padding-left:0px;
    }
    .header-menu .navbar .navbar-nav .nav-item .nav-link {
        font-size: 15px;
        padding: 12px 0px;
    }
    .header-menu .navbar .navbar-nav .nav-item:last-child {
        padding-bottom: 47px;
    }
    .header-menu .navbar .header-bottom-btn {
        margin-left: 23px;
        margin-right: 0px;
        position: absolute;
        top: 54px;
        left: 0px;
        text-align: center;
        transition: .3s;
        width: 86%;
    }
    .header-menu .navbar .header-bottom-btn a {
        display: inline-block;
        padding: 16px 29px;
        font-size: 12px;
        color: #ffff;
        text-transform: uppercase;
        background: #08237e;
         border-radius: 0px;
         text-align: center; 
        width: 248px;
        transition: .4s;
    }
    .header-menu.shrink {
        width: 91%;
        transition: .2s;
    }
    .navbar-light .navbar-toggler {
        margin: 0 auto;
    }
    .navbar-toggler {
        font-size: 12px;
        background-color: #f7f7fd;
    }

    .home-slider .single-home-slider {
        height: 432px;
    }
    .home-slider .single-home-slider .home-slider-text h1 {
        font-size: 37px;
        margin-top: -49px;
    }
    .home-slider .single-home-slider .home-slider-text {
        margin-left: 21px;
    }
    .home-slider-link {
        text-align: center;
        padding-right: 20px;
    }
    .home-slider .single-home-slider .home-slider-text p {
        font-size: 13px;
        margin: 18px 0px 37px 0px;
    }
    .home-slider .single-home-slider .home-slider-text .home-slider-link a {
        padding: 14px 31px;
        font-size: 11px;
    }
    .home-slider .owl-prev {
        top: 65%;
        left: 3%;
    }
    .home-slider .owl-next {
        top: 65%;
        right:3%;
    }
    .home-slider .owl-dots {
        bottom: 35px;
    }
    .about-area {
        padding: 50px 0px 50px 0px;
    }
    .about-area .about-section-title h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -46px;
    }
    .about-area .about-section-title h1 span {
        width: 50px;
        height: 2px;
        margin-left: -85px;
        margin-bottom: -16px;
        position: relative;
    }
    .about-area .about-section-title p {
        font-size: 15px;
        line-height: 1.8;
        padding-top: 43px;
        text-align: center;
    }
    .about-area .about-section-text p {
        font-size: 14px;
        line-height: 30px;
        padding-top: 30px;
        text-align: center;
    }
    .about-area .about-bottom .about-bottom-section {
        text-align: center;
    }
    .about-area .about-bottom {
        padding-top: 50px;
    }
    .about-area .about-bottom .about-bottom-section .about-bottom-text h1 {
        font-size: 24px;
        padding: 22px 0px 15px 0px;
        line-height: 28px;
    }
    .about-area .about-bottom .about-bottom-section .about-bottom-text p {
        font-size: 14px;
        max-width: 399px;
    }
    .about-area .about-bottom .about-bottom-section {
        text-align: center;
        margin-bottom: 36px;
    }
    .service-area .service-title h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -36px;
    }
    .service-area .service-title h1 span {
        width: 43px;
        height: 2px;
        margin-left: -72px;
        margin-bottom: -17px;
        position: relative;
    }
    .service-area {
        padding: 0px 0px 50px 0px;
    }
    .service-area .service-title p {
        font-size: 15px;
        line-height: 1.7;
        padding-top: 43px;
    }
    .service-area .service-title p {
        font-size: 15px;
        line-height: 1.7;
        padding-top: 43px;
        padding-bottom: 41px;
        text-align: center;
    }
    .service-area .service-slider .service-slider-section .service-slider-text h1 {
        font-size: 20px;
        padding: 23px 0px 18px 0px;
        word-spacing: 3px;
    }
    .service-area .service-slider .service-slider-section img {
        width: 100%;
        height: auto;
    }
    .service-slider .slick-prev {
        right: 56px;
        font-size: 11px;
    }
    .service-slider .slick-prev i {
        font-size: 14px;
        color: #959595;
        padding-right: 4px;
    }
    .service-slider .slick-next {
        right:0px;
        font-size: 11px;
    }
    .service-slider .slick-next i {
        font-size: 13px;
        color: #959595;
        padding-left: 4px;
        padding-top: 13px;
    }
    .video-area .video-title span {
        font-size: 20px;
    }
    .video-area .video-title h1 {
        font-size: 26px;
        padding: 20px 0px;
    }
    .video-area {
        height: 293px;
    }
    .video-area .video-title .video-links a.btn {
        padding: 10px 21px;
        font-size: 10px;
    }
    .video-area .video-title .video-links a.text {
        font-size: 12px;
    }
    .video-area .video-title .video-links {
        margin-top: 15px;
    }
    .video-area .video-title .video-links a i {
        padding: 10px 10px;
        font-size: 6px;
        margin-left: 8px;
        margin-right: 7px;
    }
    .our-cases-area {
        padding: 50px 0px 50px 0px;
    }
    .our-cases-area .our-cases-section h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -52px;
    }
    .our-cases-area .our-cases-section h1 span {
        width: 50px;
        height: 2px;
        margin-left: -92px;
        margin-bottom: -16px;
        position: relative;
    }
    .our-cases-area .our-cases-section p {
        font-size: 14px;
        line-height: 30px;
        padding-top: 30px;
        text-align: center;
    }
    .our-cases-area .cases-slider-section img {
        width: 100%;
        height: 100%;
    }
    .cases-slider .slick-prev {
        position: absolute;
        top: -67px;
        right: 53px;
    }
    .cases-slider .slick-next {
        top: -67px;
        right: 16px;
    }
    .our-cases-area .cases-slider-section {
        margin-top: 0px;
    }
    .our-cases-area .cases-slider-section .cases-section-text h1 {
        padding: 23px 0px 28px 0px;
    }
    .comment-area .comment-section {
        padding: 50px 0px;
    }
    .comment-area .comment-section .comment-text p {
        font-size: 19px;
        line-height: 34px;
    }
    .comment-area .form-information {
        padding: 41px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .comment-area .comment-information {
        padding-top: 22px;
    }
    .comment-area .comment-information .comment-information-d h1 {
        font-size: 15px;
        margin-bottom: -6px;
    }
    .comment-area .comment-information img {
        height: 45px;
        width: 45px;
    }
    .comment-slider .slick-next {
        font-size: 16px;
        bottom: -3px;
        left: 55px;
    }
    .comment-slider .slick-prev {
        font-size: 16px;
        bottom: -3px;
    }
    .comment-area .form-information h1 {
        font-size: 26px;
        margin-bottom: 28px;
        margin-top: 12px;
    }
    .comment-area .form-information form input {
        font-size: 12px;
        padding-left: 16px;
        height: 41px;
        margin-bottom: 18px;
    }
    .nice-select {
        height: 41px;
        line-height: 47px;
        width: 100%;
        border: 0;
        margin-bottom: 18px;
        font-size: 11px;
    }
    .nice-select:after {
        height: 7px;
        right: 20px;
        width: 7px;
    }
    .comment-area .form-information form textarea {
        font-size: 12px;
        padding-left: 17px;
        margin-bottom: 17px;
        height: 155px;
        padding-top: 13px;
    }
    .comment-area .form-information button#btn {
        padding: 16px 45px;
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    section.brand-area {
        padding: 54px 0px;
    }
    .brand-img {
        text-align:-webkit-center;
    }
    .fq-question-area .fq-question-img img {
        margin-left: 0px;
        max-width: 100%;
    }
    .fq-question-area .fq-section-title {
        margin-top: 50px;
    }
    .fq-question-area .fq-section-title h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -60px;
    }
    .fq-question-area .fq-section-title span {
        width: 50px;
        height: 2px;
        margin-left: -106px;
        margin-bottom: -21px;
        position: relative;
    }
    .fq-question-area .fq-section-title p {
        font-size: 14px;
        line-height: 30px;
        padding-top: 30px;
        text-align: center;
    }
    .fq-question-area .card .card-header h2 a {
        font-size: 12px;
        padding: 14px 28px;
    }
    .fq-question-area .card .card-header h2 a:before {
        top: 13px;
        font-size: 15px;
        right: 19px;
    }
    .fq-question-area .card .card-body {
        font-size: 13px;
    }
    .fq-question-area .card .card-header a.collapsed:before {
        top: 13px;
        font-size: 15px;
        right: 19px;
    }
    .blog-area {
        padding: 50px 0px;
        background-color: #f7f7fd;
    }
    .blog-area .blog-section h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -43px;
    }
    .blog-area .blog-section h1 span {
        width: 50px;
        height: 2px;
        margin-left: -87px;
        margin-bottom: -17px;
        position: relative;
    }
    .blog-area .blog-section p {
        font-size: 14px;
        line-height: 30px;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 39px;
    }
    .latest-blog .blog-img img {
        width: 100%;
        height: 100%;
    }
    .latest-blog .latest-blog-content {
        padding: 37px 0px 38px 26px;
    }
    .latest-blog .latest-blog-content h1 {
        font-size: 16px;
        width: 246px;
    }
    .latest-blog .latest-blog-content .meta-box {
        padding: 20px 0px 42px 0px;
    }
    .latest-blog .latest-blog-content .meta-box a span {
        font-size: 12px;
    }
    .latest-blog .latest-blog-content .meta-box span {
        font-size: 13px;
    }
    .latest-blog .latest-blog-content .read-more a {
        font-size: 13px;
    }
    .blog-bg {
        margin-bottom: 30px;
        border-radius: 0px 0px 3px 3px;
    }
    .footer-area .footer-top {
        padding: 55px 0px 40px 0px;
    }
    .footer-area .footer-left-section h1 {
        font-size: 25px;
    }
    .footer-area .footer-left-section p {
        font-size: 13px;
        padding: 20px 0px 22px 0px;
    }
    .footer-area .input-btn input {
        width: 208px;
        height: 38px;
        font-size: 12px;
        padding-left: 19px;
    }
    .footer-area .input-btn a i {
        font-size: 13px;
    }
    .footer-middle-section {
        margin-top: 37px;
    }  
    .footer-area .footer-middle-section h1 {
        font-size: 22px;
    }  
    .footer-area .footer-middle-section .f-middle-menu {
        margin-top: 23px;
    } 
    .footer-area .footer-middle-section .f-middle-menu li {
        width: 48%;
        margin-bottom: 10px;
    }
    .footer-area .footer-middle-section .f-middle-menu a {
        font-size: 14px;
    }
    .footer-right-right {
        margin-top: 33px;
    }
    .footer-right-right h1 {
        font-size: 23px;
        padding-bottom: 26px;
    }
    .footer-right-right ul li {
        font-size: 13px;
        margin-bottom: 13px;
    }
    .footer-right-right .f-right-links span {
        font-size: 15px;
    }
    .footer-right-right .f-right-links li a {
        font-size: 13px;
    }
    .container .footer-buttom .fb-condition ul {
        padding: 0;
        text-align: center;
    }
    .container .footer-buttom .fb-condition ul li {
        padding: 16px 9px;
        font-size: 12px;
    }
    .container .footer-buttom .fb-condition ul li:last-child {
       padding-right: 0px;
        font-size: 12px;
    }
    .container .footer-buttom .fb-condition {
        margin-top: -26px;
    }
    .container .footer-buttom .fb-copyright h1 {
        font-size: 13px;
        padding: 23px 0px;
        text-align: center;
    }


  
}

@media only screen and (min-width : 768px) and (max-width : 991px) 
{
    .header-area .header-top .header-top-title h1 {
        font-size: 13px;
        padding-top: 16px;
    }
    .header-area .header-middle .header-middle-contact {
        padding-left: 50px;
    }
    .header-menu {
        margin-bottom: -69px;
    }
    .header-menu .navbar .navbar-nav {
        padding-left: 26px;
    }
    .header-menu .navbar .navbar-nav .nav-item {
        padding-left:0px;
    }
    .header-menu .navbar .navbar-nav .nav-item .nav-link {
        font-size: 13px;
        padding: 25px 11px;
    }
    .header-menu .navbar .header-bottom-btn {
        margin-left: 70px;
        margin-right: 34px;
    }
    .header-menu .navbar .header-bottom-btn a {
        padding: 13px 0px;
        font-size: 10px;
        width: 116px;
    }
    .home-slider .single-home-slider .home-slider-text h1 {
        font-size: 62px;
        margin: 0;
    }
    .home-slider .owl-prev {
        left: 0%;
    }
    .home-slider .owl-next{
        right: 0%;
    }
    .home-slider .single-home-slider .home-slider-text p {
        margin: 38px 0px 40px 4px;
    }
    .home-slider .single-home-slider {
        height: 615px;
    }
    .about-area .about-section-title h1 {
        font-size: 33px;
    }
    .about-area .about-section-title p {
        font-size: 22px;
        padding-top: 35px;
    }
    .about-area .about-section-text p {
        font-size: 14px;
        line-height: 29px;
        margin-bottom: -56px;
    }
    .about-area {
        padding: 81px 0px 0px 0px;
    }
    .service-area {
        padding: 101px 0px 79px 0px;
    }
    .service-area .service-title h1 {
        font-size: 46px;
    }
    .service-area .service-title p {
        font-size: 18px;
        max-width: 600px;
    }
    .service-area .service-slider .service-slider-section img {
        width: 100%;
        height: 100%;
    }
    .service-area .service-slider {
        margin-top: 57px;
    }
    .video-area {
        height: 512px;
    }
    .video-area .video-title .video-links a.btn {
        padding: 16px 39px;
    }
    .our-cases-area {
        padding: 91px 0px 0px 0px;
    }
    .our-cases-area .our-cases-section p {
        max-width: 677px;
    }
    .our-cases-area {
        padding: 91px 0px 108px 0px;
    }
    .our-cases-area .cases-slider-section .cases-section-text {
        padding-left: 2px;
    }
    .our-cases-area .cases-slider-section .cases-section-text h1 {
        padding: 25px 0px 27px 0px;
    }
    .our-cases-area .cases-slider-section img {
        width: 100%;
        height: 100%;
    }
    .comment-area .comment-section {
        padding: 120px 0px;
    }
    .comment-area .comment-section .comment-text p {
        font-size: 23px;
        line-height: 37px;
    }
    .comment-area .comment-information {
        padding-top: 21px;
    }
    .comment-slider .slick-prev {
        bottom: 96px;
    }
    .comment-slider .slick-next {
        bottom: 96px;
    }
    .comment-area .form-information {
        padding: 39px;
        margin-top: -25px;
        margin-bottom: -23px;
    }
    .comment-area .form-information form input {
        font-size: 14px;
        height: 48px;
        margin-bottom: 23px;
        border-radius: 1px;
    }
    .nice-select {
        height: 48px;
        line-height: 51px;
        width: 100%;
        border: 0;
        margin-bottom: 30px;
        border-radius:0px;
    }
    .nice-select .option {
        min-height: 37px;
        font-size: 13px;
    }
    .nice-select:after {
        height: 7px;
        width: 7px;
    }
    .comment-area .form-information form textarea {
        font-size: 14px;
        padding-left: 18px;
        margin-bottom: 15px;
        height: 160px;
        padding-top: 14px;
        margin-top: -7px;
    }
    .comment-area .form-information h1 {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .comment-area .form-information button#btn {
        padding: 20px 61px;
        margin-top: 7px;
    }
    .slick-slide .brand-img img {
        display: block;
        margin-left: 28px;
    }
    .fq-question-area .fq-question-img {
        width: 100%;
        height: 100%;
        margin-left: 36px;
    }
    .fq-question-area .fq-question-img img {
        width: 100%;
        height: 100%;
    }
    .fq-question-area .fq-section-title h1 {
        font-size: 35px;
    }
    .fq-question-area .fq-section-title p {
        font-size: 16px;
        padding-top: 33px;
        padding-bottom: 31px;
    }
    .fq-question-area .card .card-header h2 a {
        font-size: 14px;
        padding: 16px 30px;
    }
    .fq-question-area .card .card-header a.collapsed:before {
        top: 14px;
    }
    .fq-question-area .card .card-header h2 a:before {
        top: 11px;
        font-size: 20px;
    }
    .fq-question-area .card .card-body {
        font-size: 14px;
    }
    .blog-area {
        padding: 83px 0px;
    }
    .blog-area .blog-section h1 {
        font-size: 45px;
    }
    .blog-area .blog-section p {
        font-size: 16px;
        max-width: 622px;
    }
    .latest-blog .blog-img {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .latest-blog .blog-img img {
        position: relative;
    }
    .latest-blog .latest-blog-content {
        position: absolute;
        margin-left: -14px;
        padding: 0px 0px 0px 0px;
    }
    .latest-blog .latest-blog-content h1 {
        font-size: 14px;
        line-height: 22px;
        margin-top: 17px;
        width: 212px;
    }
    .latest-blog .latest-blog-content .meta-box {
        padding: 29px 0px 32px 0px;
    }
    .latest-blog .latest-blog-content .meta-box span {
        font-size: 12px;
    }
    .latest-blog .latest-blog-content .meta-box  a{
        font-size: 12px;
    }
    .latest-blog .latest-blog-content .meta-box a span {
        font-size: 12px;
    }
    .latest-blog .latest-blog-content .read-more a {
        font-size: 13px;
    }
    .footer-area .footer-left-section h1 {
        font-size: 28px;
    }
    .footer-area .footer-middle-section h1 {
        font-size: 23px;
    }
    .footer-right-right h1 {
        font-size: 23px;
        padding-bottom: 45px;
    }
    .footer-area .footer-left-section p {
        font-size: 12px;
        padding: 39px 0px 29px 0px;
    }
    .footer-area .footer-middle-section .f-middle-menu li {
        width: 50%;
        margin-bottom: 20px;
    }
    .footer-right-right h1 {
        font-size: 23px;
        padding-bottom: 39px;
    }
    .footer-area .footer-middle-section .f-middle-menu {
        margin-top: 51px;
    }
    .footer-area .input-btn input {
        width: 204px;
        height: 37px;
        font-size: 12px;
        padding-left: 16px;
    }
    .container .footer-buttom .fb-copyright h1 {
        font-size: 14px;
        padding: 24px 0px;
    }
    .container .footer-buttom .fb-condition ul {
        text-align: end;
    }
    .container .footer-buttom .fb-condition ul li {
        padding: 29px 11px;
        font-size: 14px;;
    }

}

@media only screen and (min-width : 992px) and (max-width : 1200px) {

    .header-menu {
        margin-bottom: -88px;
    }
    .header-menu .navbar .navbar-nav {
        padding-left: 34px;
    }
    .header-menu .navbar .navbar-nav .nav-item {
        padding-left:0px; 
    }
    .header-menu .navbar .navbar-nav .nav-item .nav-link {
        font-size: 15px;
        padding: 33px 15px;
    }

    .header-menu .navbar .header-bottom-btn {
        margin-left: 117px;
        margin-right: 73px;    
    }
    .header-menu.shrink .navbar .header-bottom-btn {
        margin-left: 156px;
        margin-right: 48px;
    }
    .header-menu .navbar .header-bottom-btn a {
        padding: 15px 24px;
        font-size: 11px;
    }
    .home-slider .owl-prev {
        left: 0%;
    }
    .home-slider .owl-next {
        right:0%;
    }
    .about-area {
        padding: 100px 0px 60px 0px;
    }
    .about-area .about-bottom {
        padding-top: 95px;
    }
    .service-area {
        padding: 80px 0px 60px 0px;
    }
    .service-area .service-title h1 {
        font-size: 44px;
    }
    .service-area .service-title p {
        font-size: 17px;
    }
    .service-area .service-slider .service-slider-section .service-slider-text h1 {
        font-size: 19px;
    }
    .video-area {
        height: 500px;
    }
    .our-cases-area {
        padding: 90px 0px 92px 0px;
    }
    .comment-area .comment-section {
        padding: 150px 0px;
    }
    .comment-area .comment-section .comment-text p {
        font-size: 24px;
    }
    .comment-area .comment-information {
        padding-top: 20px;
    }
    .comment-slider .slick-prev {
        bottom: 198px;
    }
    .comment-slider .slick-next {
        bottom: 198px;
    }
    .comment-area .form-information {
        padding: 53px;
        margin-top: -31px;
        margin-bottom: -34px;
    }
    .comment-area .comment-section {
        padding: 239px 0px;
    }
    .fq-question-area .fq-question-img img {
        margin-left: -33px;
        max-width: 100%;
        height: 100%;
    }
    .fq-question-area .fq-section-title h1 {
        font-size: 44px;
    }
    .fq-question-area .fq-section-title p {
        font-size: 16px;
    }
    .latest-blog .blog-img img {
        height: 100%;
        max-width: 100%;
    }
    .latest-blog .latest-blog-content {
        padding: 65px 0px 0px 5px;
    }
    .latest-blog .latest-blog-content .meta-box {
        padding: 58px 0px 100px 0px;
    }
    .footer-area .footer-top {
        padding: 108px 0px 92px 0px;
    }
    .container .footer-buttom .fb-condition ul li {
        padding: 30px 17px;
    }


}

 