{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- BOOTSRAP.MIN.CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/bootstrap.min.css' %}">
        <!-- ICOFONTS.MIN.CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/icofont.min.css' %}">
        <!-- ANIMATE.MIN.CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/animate.min.css' %}">
        <!-- OWL.CARESOUEL.MIN. CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'bd/css/owl.theme.default.min.css' %}">
        <!-- MAGNIFIC.POPUP.MIN. CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/magnific-popup.css' %}">
        <!-- NICE-SELECTOR.MIN. CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/nice-select.css' %}">
        <!-- SLICK.MIN. CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/slick.css' %}">

        <!-- STYLE CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/style.css' %}">

        <!-- RRESPONSIVE.CSS -->
        <link rel="stylesheet" href="{% static 'bd/css/responsive.css' %}">

        <title> {% block title %}FireBizz Violet | One Page Responsive Template{% endblock title %} </title>
        </head>
    <body data-spy="scroll" data-offset="70">
        <div class="loader-content">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-hourglass"></div>
                </div>
            </div>
        </div>
        <!--START HEADER SECTION -->
        <header class="header-area">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="header-top-title">
                                <h1 class="wow slideInRight" data-wow-duration="2.5s">More then 25 years of experience in business!<a target="_blank" href="https://www.termsandconditionsgenerator.com/">Privacy & Security</a></h1>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="header-top-social wow slideInLeft" data-wow-duration="2.5s">
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://twitter.com/login"><i class="icofont-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://support.google.com/plus/answer/1301225?co=GENIE.Platform%3DDesktop&hl=en"><i class="icofont-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/accounts/login/?hl=en"><i class="icofont-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.behance.net/"><i class="icofont-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <div class="headere-middle-logo wow zoomIn" data-wow-duration="2.5s">
                                <a href="#"><img src="{% static 'bd/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-9 col-xl-9  wow zoomIn" data-wow-duration="3s">
                            <div class="header-middle-contact hmc-mobil1 wow zoomIn" data-wow-duration="7.5s">
                                <a href="#"><i class="icofont-alarm"></i>Email Us</a>

                                <div class="header-middle-contact-title">
                                    <span>mdsohag200077@gmail.com</span>
                                </div>
                            </div> 

                            <div class="header-middle-contact hmc-mobil2  wow zoomIn" data-wow-duration="5.5s">
                                <a href="#"><i class="icofont-phone"></i>Call Us</a>
                                
                                <div class="header-middle-contact-title">
                                    <span>+8801719649215</span>
                                </div>
                            </div>

                            <div class="header-middle-contact hmc-mobil3  wow zoomIn" data-wow-duration="3.5s">
                                <a href="#"><i class="icofont-email"></i>Meet hour</a>
                                
                                <div class="header-middle-contact-title">
                                    <span>10:00 am - 08:00 pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container heder-m">
                    <div class="header-menu wow slideInUp" data-wow-duration="2s">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
            
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#about">ABOUT</a>
                                    </li>
            
                                    <li class="nav-item">
                                        <a class="nav-link" href="#service">SERVICE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#team">TEAM</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#skill">SKILL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#blog">BLOG</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">CONTACT</a>
                                    </li>
                                </ul>
                                <div class="header-bottom-btn">
                                    <a href="#fq">get a quote</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div> 
            </div>
        </header>
        <!--END HEADER SECTION -->

        {% block body %}

        {% endblock body %}


        <!-- START FOOTER SECTION -->
        <footer id="contact" class="footer-area">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="footer-left-section">
                                <h1>FairBIZZ</h1>
                                <p>My vision is to brand our firm as the best firm in the world. Secure the top place among software providers for both local and international market. Brand our country as the best software provider country. Create employment for youth on the field of both software and corporate level. </p>
                            </div>
                            <div class="input-btn">
                               <input type="email" name="" id="email" placeholder="Enter Your Email">
                               <a href="#"><i class='icofont-arrow-right'></i></a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 middle">
                            <div class="footer-middle-section">
                                <h1>Useful Technology</h1>
                                <div class="f-middle-menu">
                                    <ul>
                                        <li><a href="https://reactjs.org/">React</a></li>
                                        <li><a href="http://www.web2py.com/">Web2py</a></li>
                                        <li><a href="https://trypyramid.com/">Trypyramid</a></li>
                                        <li><a href="https://github.com/">Github</a></li>
                                        <li><a href="https://www.djangoproject.com/">Django</a></li>
                                        <li><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></li>
                                        <li><a href="https://www.pygame.org/news">Pygame</a></li>
                                        <li><a href="https://numpy.org/">NumPy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="footer-right-right">
                                <h1>Contact Us</h1>
                                <ul>
                                    <li>Amborkhana,Sylhet,Bangladesh</li>
                                    <li>mdsohag200077@gmail.com</li>
                                    <li>+8801719649215</li>
                                </ul>
                                <div class="f-right-links d-flex">
                                    <span>follow us</span>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://twitter.com/login"><i class="icofont-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://support.google.com/plus/answer/1301225?co=GENIE.Platform%3DDesktop&hl=en"><i class="icofont-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/accounts/login/?hl=en"><i class="icofont-instagram"></i></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-buttom">
                    <div class="row">   
                        <div class="col-md-4 col-lg-6 col-xl-6">
                            <div class="fb-copyright">
                                <h1>©2020 Your Company. All Rights Reserved.</h1>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-6">
                            <div class="fb-condition">
                                <ul>
                                    <a target="_blank" href="https://www.termsandconditionsgenerator.com/"><li>Terms & Condition</li></a>
                                    <a target="_blank" href="https://www.termsandconditionsgenerator.com/"><li>Privacy Policy</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER SECTION -->

        <!-- JQUERY.MIN.JS -->
        <script src="{% static 'bd/js/jquery-2.2.4.min.js' %}"></script>
        <!-- BOOTSTRAP.MIN.JS -->
        <script src="{% static 'bd/js/bootstrap.min.js' %}"></script>
        <!-- POPER.MIN.JS -->
        <script src="{% static 'bd/js/popper.min.js' %}"></script>
        <!-- OWL.CAROUSEL.MIN.JS -->
        <script src="{% static 'bd/js/owl.carousel.min.js' %}"></script>
        <!-- SLICK.MIN.JS -->
        <script src="{% static 'bd/js/slick.min.js' %}"></script>
        <!-- MAGNIFIC.POPUP.MIN.JS -->
        <script src="{% static 'bd/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- NICE.SELECTOR.MIN.JS -->
        <script src="{% static 'bd/js/jquery.nice-select.min.js' %}"></script>
        <!-- WOW.MIN.JS -->
        <script src="{% static 'bd/js/wow.min.js' %}"></script>
        <!-- CUSTOME.JS -->
        <script src="{% static 'bd/js/custome.js' %}"></script>
    </body>
</html>