{% extends 'base.html' %}

{% block body %}
    <!-- START MAIN SECTION -->
    <main>
        <!-- START HOME-SLIDER SECTION -->
        <section id="home" class="home-slider-area wow slideInDown" data-wow-duration="2s">
            <div class="home-slider owl-carousel owl-theme">

                {% for singleSlider in sliders %}
                    <div class="single-home-slider d-flex align-items-center" style="background-image: url({{ singleSlider.image.url }})">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="home-slider-text">
                                        <h1 class="wow bounceInDown" data-wow-duration="3s">{{singleSlider.title}}
                                        <span>{{singleSlider.subtitle}}</span></h1>
                                        <p class="wow fadeInRight" data-wow-duration="3s" >{{singleSlider.description}}</p>
                                        <div class="home-slider-link wow bounceInUp" data-wow-duration="3s" >
                                            <a href="#">get started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- END HOME-SLIDER SECTION -->

        <!-- START ABOUT-US SECTION -->
        <section id="about" class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="about-section-title">
                            <h1 class="wow slideInUp" data-wow-duration="3s">about us<span></span></h1>
                            <p class="wow slideInLeft" data-wow-duration="2.5s">{{aboutUs.subtitle}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 wow slideInRight" data-wow-duration="2.5s">
                        <div class="about-section-text">
                            <p>{{aboutUs.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="about-bottom">
                    <div class="row">

                    {% for singleAboutPerformance in aboutPerformance %}
                        <div class="col-md-4 col-lg-4 col-xl-4 wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="about-bottom-section">
                                <img src="{{singleAboutPerformance.about_image.url}}" alt="">
                                <div class="about-bottom-text">
                                    <h1>{{singleAboutPerformance.about_title_help}}</h1>
                                    <p>{{singleAboutPerformance.about_description}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT-US SECTION -->

        <!-- START SERVICE SECTION -->
        <section id="service" class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="service-title">
                            <h1 class="wow slideInDown" data-wow-duration="1.5s">service<span></span></h1>
                            <p class="wow slideInUp" data-wow-duration="2s">Sed ut perspiciatis unde omiste naerror voluptate satium doloreque laudan totam rem riam eaque ipsa quae ab illo invetore vtatis incidunt ut labore  magn</p>
                            </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="row service-slider">
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/1.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Business Consulting</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/2.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Growth & Improve</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".6s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/3.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Financial Soluation</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/1.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Business Consulting</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/2.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Growth & Improve</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".6s">
                                <div class="service-slider-section">
                                    <img src="bd/img/service/3.jpg" alt="">
                                    <div class="service-slider-text">
                                        <h1>Financial Soluation</h1>
                                        <p>It is a long established fact that a reader will beed by readable content of a page when looking at its these.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICE SECTION -->

        <!-- START VIDEO SECTION -->
        <section  class="video-area d-flex align-items-center wow zoomIn" data-wow-duration="2.5s" data-wow-delay=".5s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="video-title wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".9s">
                            <span>We area ready </span>
                            <h1>Come with us to <br>
                            improve your business</h1>

                            <div class="video-links wow slideInUp" data-wow-duration="3s" data-wow-delay=".9s">
                                <a class="btn" href="#">contact us</a>
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=Ww04A6seX78" href="#"><i class="icofont-play"></i>Watch our video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END VIDEO SECTION -->

        <!-- START OUR-CASES SECTION -->
        <section id="team" class="our-cases-area">
            <div class="container">
                <div class="our-cases-section">
                    <h1 class="wow slideInUp" data-wow-duration="2s">Our cases<span></span></h1>
                    <p class="wow slideInRight" data-wow-duration="2.5s">Sed ut perspiciatis unde omiste naerror voluptate satium doloreque laudan totam rem riam eaque ipsa quae ab illo invetore vtatise.</p>
                </div>
                <div class="row cases-slider">
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".2s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/6.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Business Accounting <br>
                                Management</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInUp" data-wow-duration="2.5s" data-wow-delay=".4s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/7.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Satisfaction Value for
                                Money Solutions</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".6s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/8.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Inventory Management
                                Tracking System</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInUp" data-wow-duration="2.5s" data-wow-delay=".2s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/6.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Business Consultancy<br>
                                Corporate</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".4s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/7.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Business Accounting <br>
                                Management</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".6s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/8.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Satisfaction Value for
                                Money Solutions</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".2s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/6.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Inventory Management
                                Tracking System</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".4s">
                        <div class="cases-slider-section">
                            <img src="bd/img/team/7.jpg" alt="">
                            <div class="cases-section-text">
                                <h1>Business Consultancy<br>
                                Corporate</h1>
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END OUR-CASES  SECTION -->

        <!-- START COMMENT SECTION -->
        <section id="skill" class="comment-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 comment-slider wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-information">
                            <h1 class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">Free Consultation</h1>
                            <form>
                                <input class="wow fadeInRight" data-wow-duration="1.7s" data-wow-delay=".3s" type="text" name="name" id="name" placeholder="Name :">
                                <input class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s" type="email" name="email" id="email" placeholder="Email :">
                                <select class="wow zoomIn" data-wow-duration="5s" id="select">
                                    <option value="1">Subject :I will Love This Subject</option>
                                    <option value="2">ENGLISH</option>
                                    <option value="3">BANGLA</option>
                                    <option value="4">MATH</option>
                                    <option value="5">SCIENCE</option>
                                </select>
                                <textarea class="wow fadeInRight" data-wow-duration="2.3s" data-wow-delay=".5s" name="message" id="message" placeholder="Message :" ></textarea>
                            </form>
                            <button class="wow fadeInRight" data-wow-duration="2.6s" data-wow-delay=".9s" type="submit" id="btn">SEND REGUEST</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END COMMENT SECTION -->

        <!-- START BAND SECTION -->
        <section class="brand-area">
            <div class="container">
                <div class="row brand-slider">
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration=".5s" data-wow-delay=".3s">
                        <div class="brand-img">
                            <img src="bd/img/brand/1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="brand-img">
                            <img src="bd/img/brand/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".7s">
                        <div class="brand-img">
                            <img src="bd/img/brand/3.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="2s" data-wow-delay=".9s">
                        <div class="brand-img">
                            <img src="bd/img/brand/4.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="2.5s" data-wow-delay="1.1s">
                        <div class="brand-img">
                            <img src="bd/img/brand/5.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="3s" data-wow-delay="1.4s">
                        <div class="brand-img">
                            <img src="bd/img/brand/6.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration=".5s" data-wow-delay=".3s">
                        <div class="brand-img">
                            <img src="bd/img/brand/1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="brand-img">
                            <img src="bd/img/brand/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".7s">
                        <div class="brand-img">
                            <img src="bd/img/brand/3.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="2s" data-wow-delay=".9s">
                        <div class="brand-img">
                            <img src="bd/img/brand/4.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="2.5s" data-wow-delay="1.1s">
                        <div class="brand-img">
                            <img src="bd/img/brand/5.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration="3s" data-wow-delay="1.3s">
                        <div class="brand-img">
                            <img src="bd/img/brand/6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BAND SECTION -->

        <!-- START FQ QUESTION SECTION -->
        <section class="fq-question-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="fq-question-img wow slideInLeft" data-wow-duration="1.5s">
                            <img src="bd/img/profile1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-xl-7">
                        <div class="fq-section">
                            <div class="fq-section-title">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">F.A Question<span></span></h1>
                                <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">Sed ut perspiciatis unde omiste naerror voluptate satium doloreque laudan totam rem riam eaque ipsa invetore vtatise.</p>
                            </div>
                            <div class="fq-wrapper">
                                <div class="accordion" id="accordionExample">
                                    <div class="card wow fadeInRight" data-wow-duration="2s" data-wow-delay=".6s">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <a href="#" class="btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Why we are the best in consulting company ?
                                                </a>
                                            </h2>
                                        </div>
                                
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card wow fadeInRight" data-wow-duration="2.5s" data-wow-delay=".8s">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <a href="#" class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    We provide best service for business
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card wow fadeInRight" data-wow-duration="3s" data-wow-delay="1s">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <a href="#" class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Our mission & vission
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in .
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FQ QUESTION  SECTION -->

        <!-- START BLOGS SECTION -->
        <section id="blog" class="blog-area">
            <div class="container">
                <div class="blog-section">
                    <h1 class="wow fadeInUp" data-wow-duration="2.5s" data-wow-delay=".2s">Our Blog<span></span></h1>
                    <p class="wow fadeInRight" data-wow-duration="3s" data-wow-delay=".2s">Sed ut perspiciatis unde omiste naerror voluptate satium doloreque laudan totam rem riam eaque ipsa quae ab illo invetore vtatise.</p>
                </div>
                <div class="row ">
                    <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInRight" data-wow-duration="2.5s" data-wow-delay=".2s">
                        <div class="latest-blog blog-bg">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="blog-img">
                                        <img src="bd/img/blog/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="latest-blog-content">
                                        <h1>Webfonts Performance 
                                        Smashing Videos</h1>
                                        <div class="meta-box">
                                            <span>By Admin<span>
                                            <a href="#"><span>Comments (05)</span></a>
                                        </div>
                                        <div class="read-more">
                                            <a href="#">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInLeft" data-wow-duration="2.5s" data-wow-delay=".2s">
                        <div class="latest-blog blog-bg">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="blog-img">
                                        <img src="bd/img/blog/2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="latest-blog-content">
                                        <h1>Webfonts Performance 
                                        Smashing Videos</h1>
                                        <div class="meta-box">
                                            <span>By Admin<span>
                                            <a href="#"><span>Comments (05)</span></a>
                                        </div>
                                        <div class="read-more">
                                            <a href="#">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BLOGS SECTION -->
    </main>
    <!-- END MAIN SECTION -->
{% endblock body %}



   