{% extends 'base.html' %}
{% load static %}


{% block body %}
    <!-- START MAIN SECTION -->
    <main>
        <!-- START HOME-SLIDER SECTION -->
        <section id="home" class="home-slider-area wow slideInDown" data-wow-duration="2s">
            <div class="home-slider owl-carousel owl-theme">

                {% for singleSlider in sliders %}
                    <div class="single-home-slider d-flex align-items-center" style="background-image: url({{ singleSlider.image.url }})">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="home-slider-text">
                                        <h1 class="wow bounceInDown" data-wow-duration="3s">{{singleSlider.title}}
                                        <span>{{singleSlider.subtitle}}</span></h1>
                                        <p class="wow fadeInRight" data-wow-duration="3s" >{{singleSlider.description}}</p>
                                        <div class="home-slider-link wow bounceInUp" data-wow-duration="3s" >
                                            <a href="#">get started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- END HOME-SLIDER SECTION -->

        <!-- START ABOUT-US SECTION -->
        <section id="about" class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="about-section-title">
                            <h1 class="wow slideInUp" data-wow-duration="3s">about us<span></span></h1>
                            <p class="wow slideInLeft" data-wow-duration="2.5s">{{aboutUs.subtitle}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 wow slideInRight" data-wow-duration="2.5s">
                        <div class="about-section-text">
                            <p>{{aboutUs.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="about-bottom">
                    <div class="row">

                    {% for singleAboutPerformance in aboutPerformance %}
                        <div class="col-md-4 col-lg-4 col-xl-4 wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="about-bottom-section">
                                <img src="{{singleAboutPerformance.about_image.url}}" alt="">
                                <div class="about-bottom-text">
                                    <h1>{{singleAboutPerformance.about_title_help}}</h1>
                                    <p>{{singleAboutPerformance.about_description}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT-US SECTION -->

        <!-- START SERVICE SECTION -->
        <section id="service" class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="service-title">
                            <h1 class="wow slideInDown" data-wow-duration="1.5s">service<span></span></h1>
                            <p class="wow slideInUp" data-wow-duration="2s">I design and develop static and dynamic web sites as per your requirements as we believe, “web is world’s next home”.</p>
                            </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="row service-slider">

                            {% for singleService in serviceAll  %}
                                <div class="col-lg-4 col-xl-4 wow slideInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                    <div class="service-slider-section">
                                        <img style="height:270px" src="{{singleService.about_image.url}}" alt="">
                                        <div class="service-slider-text">
                                            <h1>{{singleService.title}}</h1>
                                            <p>{{singleService.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICE SECTION -->

        <!-- START VIDEO SECTION -->
        <section  class="video-area d-flex align-items-center wow zoomIn" data-wow-duration="2.5s" data-wow-delay=".5s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="video-title wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".9s">
                            <span>{{live_work.title}}</span>
                            <h1>{{live_work.subtitle}}</h1>

                            <div class="video-links wow slideInUp" data-wow-duration="3s" data-wow-delay=".9s">
                                <a class="btn" href="#contact">contact us</a>
                                <a class="popup-youtube" href="{{live_work.video_link}}"><i class="icofont-play"></i>Watch our video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END VIDEO SECTION -->

        <!-- START OUR-CASES SECTION -->
        <section id="team" class="our-cases-area">
            <div class="container">
                <div class="our-cases-section">
                    <h1 class="wow slideInUp" data-wow-duration="2s">Our cases<span></span></h1>
                    <p class="wow slideInRight" data-wow-duration="2.5s">My vision is to brand our firm as the best firm in the world. Secure the top place among software providers for both local and international market</p>
                </div>
                <div class="row cases-slider">

                    {% for singleCase in caseWork %}
                        <div class="col-lg-3 col-xl-3 wow slideInDown" data-wow-duration="2.5s" data-wow-delay=".2s">
                            <div class="cases-slider-section">
                                <img src="{{singleCase.image.url}}" alt="">
                                <div class="cases-section-text">
                                    <h1>{{singleCase.title}}</h1>
                                    <a target="_blank" href="{{singleCase.read_more}}">read more</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- END OUR-CASES  SECTION -->

        <!-- START COMMENT SECTION -->
        <section id="skill" class="comment-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 comment-slider wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="comment-text">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus ditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                            </div>
                            <div class="comment-information d-flex">
                                <img src="bd/img/comment/1.png" alt="">
                                <div class="comment-information-d">
                                    <h1>Marcelino S. Shelton</h1>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-information">
                            <h1 class="wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">Free Consultation</h1>
                            <form>
                                <input class="wow fadeInRight" data-wow-duration="1.7s" data-wow-delay=".3s" type="text" name="name" id="name" placeholder="Name :">
                                <input class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".4s" type="email" name="email" id="email" placeholder="Email :">
                                <select class="wow zoomIn" data-wow-duration="5s" id="select">
                                    <option value="1">Subject :I will Love This Subject</option>
                                    <option value="2">ENGLISH</option>
                                    <option value="3">BANGLA</option>
                                    <option value="4">MATH</option>
                                    <option value="5">SCIENCE</option>
                                </select>
                                <textarea class="wow fadeInRight" data-wow-duration="2.3s" data-wow-delay=".5s" name="message" id="message" placeholder="Message :" ></textarea>
                            </form>
                            <button class="wow fadeInRight" data-wow-duration="2.6s" data-wow-delay=".9s" type="submit" id="btn">SEND REGUEST</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END COMMENT SECTION -->

        <!-- START BAND SECTION -->
        <section class="brand-area">
            <div class="container">
                <div class="row brand-slider">

                    {% for singleBrand in companyBrand %}
                        <div class="col-md-2 col-lg-2 col-xl-2 wow zoomIn" data-wow-duration=".5s" data-wow-delay=".3s">
                            <div class="brand-img">
                                <img src="{{singleBrand.company_logo.url}}" alt="Brand Company Logo">
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- END BAND SECTION -->

        <!-- START FQ QUESTION SECTION -->
        <section id="fq" class="fq-question-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="fq-question-img wow slideInLeft" data-wow-duration="1.5s">
                            <img src="{% static 'bd/img/profile1.jpg' %}" alt="FQ Question For Company">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-xl-7">
                        <div class="fq-section">
                            <div class="fq-section-title">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">F.A Question<span></span></h1>
                                <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">My mission is to develop unique idea and quality software that will secure top ranking in marketplace, people's system and people's heart. Develop robust, secure, dynamic, responsive software for all platform (computer, tab, mobile phone). </p>
                            </div>
                            <div class="fq-wrapper">
                                <div class="accordion" id="accordionExample">

                                    {% for singlefQuestion in fQuestion %}
                                        <div class="card wow fadeInRight" data-wow-duration="2s" data-wow-delay=".6s">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <a href="#" class="btn-link" type="button" data-toggle="collapse" data-target="#{{singlefQuestion.id}}" aria-expanded="true" aria-controls="collapseOne">
                                                        {{singlefQuestion.question}}
                                                    </a>
                                                </h2>
                                            </div>
                                    
                                            <div id="{{singlefQuestion.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                     {{singlefQuestion.answer}}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FQ QUESTION  SECTION -->

        <!-- START BLOGS SECTION -->
        <section id="blog" class="blog-area">
            <div class="container">
                <div class="blog-section">
                    <h1 class="wow fadeInUp" data-wow-duration="2.5s" data-wow-delay=".2s">Our Blog<span></span></h1>
                    <p class="wow fadeInRight" data-wow-duration="3s" data-wow-delay=".2s">Sed ut perspiciatis unde omiste naerror voluptate satium doloreque laudan totam rem riam eaque ipsa quae ab illo invetore vtatise.</p>
                </div>
                <div class="row ">

                    {% for singleBlog in blogs %}
                        <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInRight" data-wow-duration="2.5s" data-wow-delay=".2s">
                            <div class="latest-blog blog-bg">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <div class="blog-img">
                                            <img style='height:312px' src="{{singleBlog.image.url}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <div class="latest-blog-content">
                                            <h1>{{singleBlog.title}}</h1>
                                            <div class="meta-box">
                                                <span>{{singleBlog.admin_name}}<span>
                                                <a href="#"><span>{{singleBlog.comments}}</span></a>
                                            </div>
                                            <div class="read-more">
                                                <a target="_blank" href="{{singleBlog.read_more}}">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- END BLOGS SECTION -->
    </main>
    <!-- END MAIN SECTION -->
{% endblock body %}



   